<div class="col-sm-12">
    <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix grid">

        <% @apartments.each do |apartment| %>
        <div
            class="box col4 notes-<%= apartment.notes.present? %> email-<%= apartment.email_sent %> viewing-<%= apartment.viewing_date.present? %>"
            data-price="<%= apartment.price %>" data-status="<%= apartment.status.id %>"
            data-viewing-date="<%= apartment.viewing_date.present? ? apartment.viewing_date.strftime('%c') : "
            2999-10-31" %>">

            <p class="text-muted"><%= number_to_currency apartment.price  %>
                <% if apartment.email_sent %>&nbsp;|
                <i data-toggle="tooltip" data-placement="bottom" title="Email sent" class="icon-envelope valign"></i>
                <% end %>
                <% if apartment.status.present?%>&nbsp;|
                <span data-toggle="tooltip" data-placement="bottom" title="Status: <%=  apartment.status.name %>" class="circle circle-<%= apartment.status.name%> valign"></span>
                <% end %>
            </p>
            <%= link_to apartment do %>
            <div class="apartment-image" style="background-image: url(<%= apartment.img %>)"></div>
            <% end %>
            <p class="text-muted">
                <%= link_to apartment.url, target: '_blank' do %>
                <small><%= apartment.address %></small>
                <% end %>
            </p>
            <p class="text-muted"></p>
            <% if apartment.viewing_date.present? %>
            <p class="text-muted">
                <small><%= apartment.viewing_date.strftime('%a %b %e, %Y @ %l:%M %p')  %></small>
            </p>
            <% end %>

            <% if apartment.notes.present? %>
            <p class="text-muted">
                <small><%= apartment.notes.html_safe  %></small>
            </p>
            <% end %>
        </div>
        <% end %>
    </div>
</div>