<%= simple_form_for(apartment) do |f| %>
  <% if apartment.errors.any? %>
    <div id="error_explanation" class="text-danger text-center">
      <p><%= pluralize(apartment.errors.count, "error") %> prohibited this apartment from being saved:</p>

      <ul  class="text-left">
      <% apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :address %>
    <%= f.input :url %>
    <%= f.input :img %>
    <%= f.input :price %>
    <%= f.input :email_sent %>
    <%= f.input :status_id, collection: Status.all.order(:id).collect {|s| [ s.name, s.id ] }, prompt: "Choose a Status" %>
    <%= f.input :viewing_date, :include_blank => true  %>
    <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
