<div class="col-md-6 col-sm-offset-3 extra-margin-bottom">
<h1 class="no-bottom-padding no-bottom-margin form-title">Editing Apartment</h1>
<h1 class="no-top-padding no-top-margin"><small><%= @apartment.address %></small></h1>
<div class="apartment-image form" style="background-image: url(<%= asset_path('assets/apartment_images/'+@apartment.img) %>)"></div>

<%= render 'form', apartment: @apartment %>
<br>
<%= link_to 'Show', @apartment %> |
<%= link_to 'Back', apartments_path %>

</div>
