<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Helping Matt and Audrey find an apartment since 2017.
                        </h1>
                        <% if user_signed_in? %>
                        <a href="#apartments" class="btn btn-outline btn-xl page-scroll">Get started!</a>
                    <% else %>
                        <a href="<%= new_user_session_path %>" class="btn btn-outline btn-xl page-scroll">Sign In or Register</a>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="hidden-sm hidden-xs col-md-5">
                <div class="earth-container">
                    <div class="sidebg earth">
                        <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                        <%= image_tag 'earth-bg_md.png', class: 'img-responsive' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<% if user_signed_in? %>

<section id="apartments">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Places We've Tried</h2>
                    <p class="text-muted">Zillow, Trulia, HotPads, Craigslist, etc.</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">

                    <% @apartments.each do |apartment| %>
                    <div class="box col3">
                        <%= link_to apartment do %>
                        <div class="apartment-image" style="background-image: url(<%= asset_path('assets/apartment_images/'+apartment.img) %>)"></div>
                        <% end %>
                        <p class="text-muted">
                            <%= link_to apartment.url, target: '_blank' do %>
                            <small><%= apartment.address %></small>
                            <% end %>
                        </p>
                        <p class="text-muted">
                            <small><%= number_to_currency apartment.price  %></small>
                        </p>
                        <p class="text-muted">
                            <small>Sent email?
                                <%= apartment.email_sent ? "Yes": "No" %></small>
                        </p>
                        <% if apartment.viewing_date.present? %>
                        <p class="text-muted">
                            <small><%= apartment.viewing_date.strftime('%a %b %e, %Y @ %l:%M %p')  %></small>
                        </p>
                        <% end %>

                        <% if apartment.notes.present? %>
                        <p class="text-muted">
                            <small><%= apartment.notes.html_safe  %></small>
                        </p>
                        <% end %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <br>
                        <% if @apartments.empty? %>

                        <p class="text-center">No apartments found yet. Get started by
                            <%= link_to 'creating a new Apartment', new_apartment_path %></p>

                    <% else %>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><%= Apartment.human_attribute_name(:address) %></th>
                                        <th><%= Apartment.human_attribute_name(:img) %></th>
                                        <th><%= Apartment.human_attribute_name(:price) %></th>
                                        <th><%= Apartment.human_attribute_name(:email_sent) %></th>
                                        <th><%= Apartment.human_attribute_name(:viewing_date) %></th>
                                        <th><%= Apartment.human_attribute_name(:updated_at) %></th>
                                        <th><%= Apartment.human_attribute_name(:created_at) %></th>
                                        <th><%=t '.actions', :default => t("helpers.actions") %></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% @apartments.each do |apartment| %>
                                    <tr>
                                        <td><%= link_to apartment.address, apartment.url, target: '_blank' %></td>
                                        <td><%= link_to "Link", asset_path('assets/apartment_images/'+apartment.img), target: '_blank' %></td>
                                        <td><%= number_to_currency apartment.price %></td>
                                        <td><%= apartment.email_sent %></td>
                                        <td>
                                            <% if apartment.viewing_date.present? %>
                                            <%= apartment.viewing_date.strftime('%a %b %e, %Y @ %l:%M %p') %>
                                        <% else %>
                                            N/A
                                            <% end %></td>
                                        <td><%= apartment.updated_at.strftime('%D') %></td>
                                        <td><%= apartment.created_at.strftime('%D') %></td>

                                        <td><%= link_to apartment do %>

                                            <i class="icon-eye text-primary"></i>
                                            <% end %>

                                            <% if current_user.admin? %>
                                            <%= link_to edit_apartment_path(apartment) do %>
                                            <i class="icon-pencil text-primary"></i>

                                            <% end %>
                                            <%= link_to apartment, method: :delete, data: { confirm: 'Are you sure?' } do %>

                                            <i class="icon-close text-primary"></i>

                                            <% end %>
                                            <% end %>
                                        </td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                        <br>

                        <%= link_to 'New Apartment', new_apartment_path %>

                        <i class="icon-plus text-primary"></i>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% end %>
