<div class="col-md-12 extra-margin-bottom">
    <h1 class="no-padding-bottom no-margin-bottom form-title">Apartment</h1>
    <h1 class="no-padding-top no-margin-top">
        <small><%= @apartment.address %></small>
    </h1>

    <div class="col-md-6">
        <%= link_to @apartment.url, target: '_blank' do %>
        <div class="apartment-image form" style="background-image: url(<%= @apartment.img %>)"></div>
        <% end %>
    </div>
    <div class="col-md-6">
        <h3 class="no-margin-bottom"><%= number_to_currency(@apartment.price) %> | <%= @apartment.square_feet.present? ? @apartment.square_feet : '----' %> sqft</h3>
        <% if not @apartment.square_feet.zero? %> <small><%= number_to_currency(@apartment.price/@apartment.square_feet) %> per square foot.</small> <% end %>
        <p style="margin-top:10px;">Status: <%= @apartment.status.present? ? @apartment.status.name : '' %></p>
        <p>
            <% if @apartment.email_sent? %>
            <i class="icon-envelope"></i>
            Email has been sent.
        <% else %>
            No email has been sent yet.
            <% end %>
        </p>
        <p>
            <% if  @apartment.viewing_date.present? %>
            Viewing date set for
            <%=  @apartment.viewing_date.strftime('%a %b %e, %Y @ %l:%M %p') %>
            <% end %>
        </p>
        <p>
            <%= @apartment.notes.html_safe %>
        </p>
    </div>
    <br>
    <div class="row text-center">
        <div class="col-xs-12">
            <% if current_user.admin? %>
            <%= link_to edit_apartment_path(@apartment), class: 'btn btn-success pull-left' do %>
            <i class='icon-pencil'></i> Edit
            <% end %>
            <% end %>
            <% if current_user.admin? %>
            <%= link_to new_apartment_path(), class: 'btn btn-primary' do %>
            <i class='icon-plus'></i> Create New
            <% end %>
            <% end %> 
            <%= link_to apartments_path, class: 'btn btn-default  pull-right' do %>
            <i class='icon-arrow-left-circle'></i> Back
            <% end %>
        </div>
    </div>
</div>
<br>