<div class="col-md-12 extra-margin-bottom">
    <h1 class="no-padding-bottom no-margin-bottom form-title">Apartment</h1>
    <h1 class="no-padding-top no-margin-top">
        <small><%= @apartment.address %></small>
    </h1>

    <div class="col-md-6">
        <%= link_to @apartment.url, target: '_blank' do %>
        <div class="apartment-image form" style="background-image: url(<%= @apartment.img %>)"></div>
        <% end %>
    </div>
    <div class="col-md-6">
        <h3><%= number_to_currency(@apartment.price) %></h3>
        <p>Status: <%= @apartment.status.present? ? @apartment.status.name : '' %></p>
        <p>
            <% if @apartment.email_sent? %>
            <i class="icon-envelope"></i>
            Email has been sent.
        <% else %>
            No email has been sent yet.
            <% end %>
        </p>
        <p>
            <% if  @apartment.viewing_date.present? %>
            Viewing date set for
            <%=  @apartment.viewing_date.strftime('%a %b %e, %Y @ %l:%M %p') %>
            <% end %>
        </p>
        <p>
            <%= @apartment.notes %>
        </p>
    </div>
    <div class="row text-center">
        <div class="col-xs-12">
            <br>
            <% if current_user.admin? %>
            <%= link_to edit_apartment_path(@apartment), class: 'btn btn-default pull-left' do %>
            <i class='icon-pencil'></i> Edit
            <% end %>
            <% end %>
            <%= link_to apartments_path, class: 'btn btn-default  pull-right' do %>
            <i class='icon-arrow-left-circle'></i> Back
            <% end %>
        </div>
    </div>
</div>
<br>