

<div class="col-md-6 col-sm-offset-3 extra-margin-bottom">
<h1 class="no-bottom-padding no-bottom-margin form-title">Apartment</h1>
<h1 class="no-top-padding no-top-margin"><small><%= @apartment.address %></small></h1>
<p id="notice"><%= notice %></p>

<%= link_to @apartment.url, target: '_blank' do %>
<div class="apartment-image form" style="background-image: url(<%= @apartment.img %>)"></div>
<% end %>
<div class="fieldset">
            <dl>
                <dt class="label label-default"><%= Apartment.human_attribute_name(:address) %></dt>
                <dd>
                    <pre class="prettyprint"><%= @apartment.address %></pre>
                </dd>
                <dt class="label label-default"><%= Apartment.human_attribute_name(:price) %></dt>
                <dd>
                    <pre class="prettyprint"><%= @apartment.price %></pre>
                </dd>
                <dt class="label label-default"><%= Apartment.human_attribute_name(:url) %></dt>
                <dd>
                    <pre class="prettyprint"> <%= link_to @apartment.url, @apartment.url, target: '_blank' %></pre>
                </dd>
                <dt class="label label-default"><%= Apartment.human_attribute_name(:img) %></dt>
                <dd>
                    <pre class="prettyprint"><%= link_to 'Image Link', @apartment.img , target: '_blank' %></pre>
                </dd>
                <dt class="label label-default"><%= Apartment.human_attribute_name(:email_sent) %></dt>
                <dd>
                    <pre class="prettyprint"><%= @apartment.email_sent %></pre>
                </dd>
                <dt class="label label-default"><%= Apartment.human_attribute_name(:viewing_date) %></dt>
                <dd>
                    <pre class="prettyprint"><%= @apartment.viewing_date %></pre>
                </dd>
                <dt class="label label-default"><%= Apartment.human_attribute_name(:notes) %></dt>
                <dd>
                    <pre class="prettyprint"><%= @apartment.notes %></pre>
                </dd>
            </dl>
        </div>
<br>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<% end %>
<%= link_to 'Back', apartments_path %>
</div>
<br>
