<!DOCTYPE html>
<html>
    <head>
        <title>M&amp;A Apartment Search</title>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%=  stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lato' %>
        <%=  stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900' %>
        <%=  stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Muli' %>
    </head>

    <body id="page-top">
        <%= render partial: '/elements/navbar' %>
        <!-- end navigation  -->

        <div class="primary-content">
            <%= render 'layouts/messages' %>
            <% if homepage? %>

            <%= yield %>
        <% else %>
            <div class="container clear-top">
                <section>
                    <%= yield %>
                </section>
            </div>
            <div class="push"></div>
            <% end %>
        </div>

        <!-- end content  -->

        <% unless homepage? %>
        <footer>
            <%= render partial: '/elements/footer' %>
        </footer>
        <% end %>
        <!-- end footer  -->

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </body>
</html>